// Common styles of the project

html
	+selection
		background: rgba(0, 0, 0, .2)
		color: #fff

html, body
	height: 100%

body
	color: $text
	background-color: $body
	+gr

*
	box-sizing: border-box
	&:before,
	&:after
		box-sizing: inherit

* html .page__wrapper
	height: 100%

a
	text-decoration: none
	outline: none
	color: inherit


h1, h2, h3, h4, h5, h6
	margin: 0 0 .8em
	font-weight: normal
	line-height: 1.1

h1
	font-size: 2em
h2
	font-size: 1.8em
h3
	font-size: 1.6em
h4
	font-size: 1.5em
h5
	font-size: 1.4em
h6
	font-size: 1.3em

b, strong
	font-weight: normal

p
	margin: 0

.page_aside
	display: inline-block
	max-width: 170px
	width: 17%
	position: fixed
	top: 0
	bottom: 0
	height: 100%
	background: #3B9FB9 url('../img/content/aside.jpg') 0 0 no-repeat
	background-size: cover
	z-index: 10
	+r(900)
		display: none
	+r(640)
		display: none


.page__wrapper
	// width: 83%
	// max-width: 1988px
	margin: 0 auto
	text-align: center
	padding: 40px 5% 0 210px
	// padding: 64px 5% 0 calc(316px + 5%)
	// +r(1670)
	+r(900)
		padding: 20px

.title
	&__main
		display: inline-block
		padding: 0 25px
		background-color: $green
		text-transform: uppercase
		margin-bottom: 1em
		color: #fff
		font-size: 50px
		line-height: 2em
		margin-bottom: .8em
		+gm
		font-weight: normal
		+r(1670)
			font-size: 42px
		+r(1015)
			line-height: 1
			padding: .5em 1em
	&__subtitle
		font-size: 48px
		font-weight: normal
		color: $green
		margin-bottom: .8em
		+gr
		font-weight: normal
		+r(1670)
			font-size: 40px
	&__big
		font-size: 48px
		color: $green
		+gr
		font-weight: normal
		+r(1670)
			font-size: 40px

.btn
	display: inline-block
	vertical-align: top
	background-color: $gray
	width: 440px
	max-width: 100%
	color: #fff
	text-transform: uppercase
	font-size: 30px
	line-height: .8
	text-align: center
	padding: 43px 0
	margin: 60px auto 0
	border: none
	outline: none
	+r(1670)
		padding: 36px 0
	+r(1050)
		padding: 20px 0
	&_good
		+gb
	&_restart
		width: 100%
		max-width: 700px
		background-color: $green
		margin: 120px 0 0
		font-size: 30px
		padding-left: 15px
		padding-right: 15px
		line-height: 1.1
		+gb
		+r(1920)
			font-size: 26px
		+r(1670)
			margin-top: 60px
			font-size: 24px
		+r(1050)
			margin-top: 30px
			font-size: 18px

.nav
	margin: 100px 0 125px
	+r(1670)
		margin: 70px 0 70px
	+r(1220)
		margin: 50px 0
	+r(900)
		margin: 30px 0
	&__list
		display: flex
		justify-content: space-between
		font-size: 0
		margin: 0
		padding: 0
		list-style: none
	&__item
		display: inline-block
		width: calc(100% / 6 - 20px)
		vertical-align: top
		color: $gray
		text-align: center
		padding-bottom: 25px
		border-bottom: 15px solid $gray
		+r(1220)
			width: calc(100% / 6 - 10px)
		&.is-active
			color: $green
			border-color: $green
			.nav
				&__img,
				&__etap,
				&__desc
					color: $green
					fill: $green
	&__pic
		position: relative
		display: flex
		align-items: flex-end
		justify-content: center
		// max-height: 120px
		// max-width: 116px
		width: 50%
		height: 116px
		margin: 0 auto 20px
		text-align: center
		+r(1670)
			height: 80px
			margin: 0 auto 10px
	&__img
		display: inline-block
		vertical-align: top
		width: 100%
		height: 100%
		fill: $gray

	&__etap
		display: inline-block
		text-transform: uppercase
		font-size: 30px
		color: $gray
		+gr
		font-weight: normal
		+r(1670)
			font-size: 22px
			margin-bottom: 5px
		+r(1020)
			font-size: 18px
		&_result
			+r(1200)
				font-size: 18px
			+r(1020)
				font-size: 16px
	&__desc
		font-size: 28px
		color: $gray
		+gl
		+r(1670)
			font-size: 20px

.layout
	width: 100%
	max-width: 2000px
	text-align: left

.test
	display: none
	margin-bottom: 30px
	&.is-active
		display: block
	&__wrap
		display: flex
		justify-content: space-between
		+r(900)
			flex-wrap: wrap
		&.in-center
			display: block
			text-align: center
	&__pic
		position: relative
		width: calc(54% - 0px)
		overflow: hidden
		font-size: 0
		background-color: #ECECEC
		text-align: center
		+r(900)
			width: 100%
			margin-bottom: 20px
			height: 240px
	&__img
		+vcenter
		max-width: 100%
		max-height: 100%
	&__content
		width: 44%
		+r(900)
			width: 100%
			text-align: center
	&__title
		font-size: 48px
		line-height: 1.2
		color: $green
		+try(-.2em)
		+r(1670)
			font-size: 40px
		+r(1050)
			font-size: 32px
		&.in-center
			text-align: center
	&__center
		text-align: center
	&__answer
		font-size: 36px
		color: $gray
		+gr
	&__box
		display: block
		width: 100%
		text-align: center
	&_center_img
		text-align: center
		width: 230px
		height: 200px
		display: inline-block
		vertical-align: top
		fill: $green
		margin-bottom: 30px

.desktop_pic

.mobile_pic
	display: none

.check
	position: relative
	display: block
	margin-bottom: 16px
	height: 58px
	+r(1670)
		height: 42px
	+r(1050)
		height: 30px
	+r(900)
		text-align: left
	input
		position: absolute
		top: 2px
		left: 0
		z-index: 2
		opacity: 0

		&:checked
			~ span
				user-select: none
				&:before
					// background-color: $green
				&:after
					content: ""
					position: absolute
					top: 28px
					left: 28px
					display: inline-block
					width: 32px
					height: 32px
					background-color: $green
					border-radius: 100%
					transform: translate(-50%, -50%)
					+r(1670)
						width: 24px
						height: 24px
					+r(1050)
						width: 16px
						height: 16px
		&:disabled
			~ span
				opacity: 1
	span
		position: relative
		padding: 6px 0 10px 88px
		// padding-left: 88px
		left: 0
		top: 0
		font-size: 36px
		line-height: 1.2
		color: $gray
		cursor: pointer
		user-select: none
		+gr
		z-index: 15
		+r(1670)
			padding-left: 70px
			padding-top: 10px
		+r(1050)
			padding-left: 54px
			padding-top: 16px
		&:before
			content: ""
			position: absolute
			top: -1px
			left: 0
			width: 58px
			height: 58px
			background-color: $n
			border: 4px solid $gray
			cursor: pointer
			border-radius: 100%
			+tr(.4s)
			+r(1670)
				top: 7px
				left: 7px
				height: 42px
				width: 42px
			+r(1050)
				top: 13px
				left: 13px
				height: 30px
				width: 30px
		+r(1670)
			font-size: 28px
		+r(1050)
			font-size: 20px

.time
	position: relative
	display: inline-block
	padding: 15px 70px
	margin: 0 auto
	box-shadow: inset 0 0 21px  rgba(0, 0, 0, .25)
	font-size: 150px
	color: $green
	+gb
	// &:after
	// 	content: ''
	// 	position: absolute
	// 	top: 10%
	// 	bottom: 10%
	// 	width: 2px
	// 	left: 50%
	// 	background-color: $gray
	// 	margin-left: -1px

	+r(1920)
		font-size: 120px
	+r(1670)
		font-size: 100px
	+r(1505)
		font-size: 80px
		padding: 15px 40px
	+r(1200)
		font-size: 76px
		padding: 10px 20px

.separator
	display: inline-block
	width: 2px
	height: 70px
	+try(8px)
	background-color: $gray
	margin-left: -1px

.result
	display: none
	margin-bottom: 30px
	&.is-active
		display: block
	&__pic
		width: 30%
		display: inline-block
		margin-top: 8px
	&__text
		width: 67%
	&__item

	&__title
		font-size: 48px
		color: $green
		+gm
		+r(1670)
			font-size: 40px
		+r(1050)
			font-size: 32px
	&__wrap
		display: flex
		justify-content: space-between
	&__desc
		font-size: 30px
		+gr
		+r(1670)
			font-size: 22px
		+r(1050)
			font-size: 16px
	&__footer
		width: 100%
		display: flex
		align-items: flex-end
		justify-content: space-between
		padding-left: 33%
		+r(1220)
			padding-left: 0
		+r(650)
			flex-wrap: wrap
	.title__subtitle
		padding-left: 33%

.share
	width: 270px
	min-width: 270px
	margin-left: 40px
	+r(1670)
		width: 212px
		min-width: 212px
		margin-left: 30px
	+r(650)
		margin: 20px 0 0

.share,
.ya-share2,
.ya-share2__container
	display: inline-block
	vertical-align: top

.ya-share2__container
	.ya-share2__item
		position: relative
		display: inline-block
		width: 74px
		height: 74px
		vertical-align: top
		margin: 0 0 0 24px !important
		border-radius: 100%
		box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.12)
		&:first-of-type
			margin-left: 0 !important
		+r(1670)
			width: 60px
			height: 60px
			margin: 0 0 0 16px !important

	.ya-share2__link,
	.ya-share2__badge
		display: block
		margin: 0
		padding: 0
		width: 100%
		height: 100%
		border-radius: 100%
		&:hover
			opacity: .8

		.ya-share2__icon
			+vcenter
			display: inline-block
			width: 70%
			height: 70%
			vertical-align: top

	.ya-share2__item_service_vkontakte .ya-share2__badge
		background-color: #6996C7
	.ya-share2__item_service_facebook .ya-share2__badge
		background-color: #496194
	.ya-share2__item_service_odnoklassniki .ya-share2__badge
		background-color: #FF9C43